


.main-table {
    width: 100%;
    height: 100%;
}

.main-table td {
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
}

.nested-table {
	border: 1px solid black;
    width: 100%;
}

.nested-table th,
.nested-table td {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}

.black-cell {
    background-color: black;
    color: white;
    font-weight: bold;
}
